@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.MuiContainer-root{
    height: 100%;
}

#root,
body,
html {
    background-color: rgb(216, 231, 255);
    font-family: 'Roboto', sans-serif;
    height: 100%;   
    width: 100%;
    margin: 0;
    padding: 0;
}

.MuiPaper-root:not(.MuiAccordion-root) {
    height: 100%;
    padding: 1em;
}

.cv-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.cv-container-main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}

.cv-header {
    flex-direction: column;
    width: 100%;
}

.cv-personal-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.cv-address,
.cv-email {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.cv-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cv-education,
.cv-work,
.cv-main {
    width: 100%;
    height: 100%;
}

.cv-work,
.cv-education{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cv-item {
    display: flex;
    flex-direction: column;
    gap: .15rem
}

.cv-item-top,
.cv-item-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cv-item-top {
    font-weight: bold;
}

.cv-item-bottom {
    font-style: italic;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -1.2rem;
}